<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-books-link" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                All Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-books-link">
                <a href="{% url 'books' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'books' %}?sort=genres&direction=asc" class="dropdown-item">By Genre</a>
                <a href="{% url 'books' %}" class="dropdown-item">All Books</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bestsellers-link" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Bestsellers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bestsellers-link">
                <a href="{% url 'books' %}?genres=bestsellers,sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'books' %}?genres=bestsellers,sort=genres&direction=asc" class="dropdown-item">By Genre</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="genre-link" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Genre
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="genre-link">
                <a href="{% url 'books' %}?genres=biography" class="dropdown-item">Biography</a>
                <a href="{% url 'books' %}?genres=crime_thrillers_mystery" class="dropdown-item">Crime, Thrillers & Mystery</a>
                <a href="{% url 'books' %}?genres=childrens_books" class="dropdown-item">Children's Books</a>
                <a href="{% url 'books' %}?genres=food_drink" class="dropdown-item">Food & Drink</a>
                <a href="{% url 'books' %}?genres=history" class="dropdown-item">History</a>
                <a href="{% url 'books' %}?genres=horror" class="dropdown-item">Horror</a>
                <a href="{% url 'books' %}?genres=science_fiction_fantasy" class="dropdown-item">Science Fiction & Fantasy</a>
                <a href="{% url 'books' %}?genres=travel" class="dropdown-item">Travel</a>
                <a href="{% url 'books' %}?genres=humout" class="dropdown-item">Humour</a>
                <a href="{% url 'books' %}?genres=young_adult" class="dropdown-item">Young Adult</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fiction-link" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Fiction
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fiction-link">
                <a href="{% url 'books' %}?genres=fiction,sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'books' %}?genres=fiction,sort=genres&direction=asc" class="dropdown-item">By Genre</a>
                <a href="{% url 'books' %}?genres=fiction" class="dropdown-item">All Fiction</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="non-fiction-link" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Non Fiction
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="non-fiction-link">
                <a href="{% url 'books' %}?genres=non_fiction,sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'books' %}?genres=non_fiction,sort=genres&direction=asc" class="dropdown-item">By Genre</a>
                <a href="{% url 'books' %}?genres=non_fiction" class="dropdown-item">All Non Fiction</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="author-link" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Author
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="author-link">
                <a href="{% url 'books' %}?sort=author&direction=asc" class="dropdown-item">A-Z</a>
                <a href="{% url 'books' %}?sort=author&direction=desc" class="dropdown-item">Z-A</a>
            </div>
        </li>
    </ul>
</div>