<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-books-link" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                All Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-books-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Genre</a>
                <a href="{% url 'books' %}" class="dropdown-item">All Books A - Z</a>
                <a href="" class="dropdown-item">All Books Z - A</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bestsellers-link" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Bestsellers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bestsellers-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Genre</a>
                <a href="" class="dropdown-item">All Bestsellers A - Z</a>
                <a href="" class="dropdown-item">All Bestsellers Z - A</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="genre-link" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Genre
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="genre-link">
                <a href="" class="dropdown-item">Biography</a>
                <a href="" class="dropdown-item">Crime, Thrillers & Mystery</a>
                <a href="" class="dropdown-item">Children's Books</a>
                <a href="" class="dropdown-item">Food & Drink</a>
                <a href="" class="dropdown-item">History</a>
                <a href="" class="dropdown-item">Horror</a>
                <a href="" class="dropdown-item">Science Fiction & Fantasy</a>
                <a href="" class="dropdown-item">Travel</a>
                <a href="" class="dropdown-item">Humour</a>
                <a href="" class="dropdown-item">Young Adult</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fiction-link" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Fiction
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fiction-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Genre</a>
                <a href="" class="dropdown-item">All Fiction A - Z</a>
                <a href="" class="dropdown-item">All Fiction Z - A</a>
                <a href="" class="dropdown-item"></a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="non-fiction-link" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Non Fiction
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="non-fiction-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Genre</a>
                <a href="" class="dropdown-item">All Non Fiction A-Z</a>
                <a href="" class="dropdown-item">All Non Fiction Z-A</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="author-link" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Author
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="author-link">
                <a href="" class="dropdown-item">A-F</a>
                <a href="" class="dropdown-item">G-K</a>
                <a href="" class="dropdown-item">L-P</a>
                <a href="" class="dropdown-item">Q-U</a>
                <a href="" class="dropdown-item">V-Z</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="sale-link" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Sale
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sale-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Genre</a>
                <a href="" class="dropdown-item">All Sale A - Z</a>
                <a href="" class="dropdown-item">All Sale Z - A</a>
            </div>
        </li>
    </ul>
</div>